:root {
	--bg-color: rgb(247, 247, 247);
	--txt-color: #000000;
	--container-bg: #ffffff;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--txt-color);
	font-family: 'Poppins', Arial, sans-serif;
}

* {
	box-sizing: border-box;
}
